<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Authentication successful</title>
  </head>
  <body>
    <script>window.close()</script>
    <p>You may now close this page.</p>
  </body>
</html>
